---
import { Image } from "astro:assets";
import { MoveUpRightIcon } from "lucide-react";

import Experience from "@/components/experience.tsx";

import PageLayout from "@/layouts/base.astro";

import { cn } from "@/lib/utils";
import { PROJECTS, SOCIALS } from "@/data/constants";
---

{/* eslint-disable max-len */}

<PageLayout meta={{ title: "Kunall Banerjee" }}>
  <section
    id="main"
    class="text-base leading-relaxed -tracking-[0.01em] text-neutral-700/90"
    data-animate
    style="--stagger:1.5"
  >
    <div class="relative flex items-center space-x-1.5">
      <div
        class={cn(
          "before:animate-eye-movement before:content-[''] before:rounded-[100%] before:h-[3px] before:w-[3px] before:absolute before:top-[10px] before:left-[10px] before:[background:#000]",
          "animate-rotate-head block w-6 h-6 rounded-[100%] [border:1px_solid_#000] [box-shadow:inset_2px_-2px_3px_#000] relative [background:#f8f8f8] ",
          "after:animate-eye-movement after:content-[''] after:h-[3px] after:w-[3px] after:rounded-[100%] after:[background:#000] after:absolute after:top-[10px] after:left-[18px]",
        )}
      >
      </div>
      <h1 class="flex items-center gap-x-1.5 font-sans">Kunall Banerjee</h1>
    </div>
    <p class="mt-3 text-neutral-400">
      Digital craftsman, building modest software &amp; websites on the internet
    </p>
    <p class="my-3 text-neutral-900/75">
      I like to create delightful
      <em> experiences</em> &amp; <em>interfaces</em>. <em>Obsessed</em> with
      details.&nbsp;<em>Minimalist</em>, in all aspects of life. <em
        >Outspoken</em
      >, yet I’m mindful of the effect it has on others.
    </p>
    <p class="my-3 text-neutral-900/75">
      Usually based in Ottawa, Canada where I rent a studio apartment.
      Frequently travel to Mumbai, India where I own a home next to the hills.
    </p>
    <div>
      <p class="flex items-center justify-evenly">
        {
          SOCIALS.map(item => (
            <>
              <a
                class="text-neutral-400 underline decoration-lime-300 underline-offset-2 transition-colors hover:text-neutral-500 hover:decoration-lime-400"
                href={item.href}
                rel="nofollow noopener noreferrer"
              >
                {item.title}
              </a>
              <span class="last:hidden">/</span>
            </>
          ))
        }
      </p>
    </div>
    <hr
      class="my-8 h-3 border-y-0 border-lime-300 [border-left:.75rem_solid_rgb(179_252_3_/_1)]"
    />
  </section>
  <section
    id="work"
    class="my-6 text-base leading-relaxed -tracking-[0.01em] text-neutral-900/75"
    data-animate
    style="--stagger:5"
  >
    <h2 class="mb-3 select-none font-sans text-neutral-600">Experience</h2>
    <Experience client:load />
    <a
      class="mt-2.5 flex cursor-pointer items-center gap-x-1.5 text-neutral-400 transition-colors hover:text-neutral-500"
      href="https://read.cv/yeskunall"
      rel="nofollow noopener noreferrer"
    >
      CV{" "}
      <span
        class="flex h-3.5 w-3.5 items-center justify-center rounded-sm bg-lime p-0.5"
      >
        <MoveUpRightIcon className="text-neutral-800" />
      </span>
    </a>
  </section>
  <section
    id="recent"
    class="mx-auto my-6 text-base leading-relaxed -tracking-[0.01em] text-neutral-950/90"
    data-animate
    style="--stagger:12"
  >
    <div class="grid grid-cols-1 place-items-center gap-x-10">
      <div class="flex flex-col gap-3">
        <h2 class="select-none font-sans text-neutral-600">Projects</h2>
        {
          PROJECTS.map(project => (
            <div class="flex items-center gap-3">
              <div class="relative h-10 w-10 self-start overflow-hidden rounded">
                {project.logo && (
                  // eslint-disable-next-line @typescript-eslint/ban-ts-comment
                  // @ts-ignore: TS uses the last member of the union to suggest props for JSX,
                  // and Astro types the props for local images first, so you will always get this
                  // error till they fix the types.
                  <Image src={project.logo} alt="logo" width={40} />
                )}
              </div>
              <div class="flex flex-1 flex-col font-sans">
                <div class="flex flex-col space-y-1.5 font-normal text-neutral-950/80">
                  <h3 class="text-neutral-700">{project.name}</h3>
                  <p class="max-w-[80%] text-sm text-neutral-500">
                    {project.description}
                  </p>
                  {project.href && (
                    <a
                      class="mt-1.5 flex cursor-pointer items-center gap-x-1.5 text-sm text-neutral-400 transition-colors hover:text-neutral-500"
                      href={project.href}
                      rel="nofollow noopener noreferrer"
                    >
                      View{" "}
                      <span class="flex h-3.5 w-3.5 items-center justify-center rounded-sm bg-lime p-0.5">
                        <MoveUpRightIcon className="text-neutral-800" />
                      </span>
                    </a>
                  )}
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </section>
  <section
    id="connect"
    class="my-6 text-base leading-relaxed -tracking-[0.01em] text-neutral-900/75"
    data-animate
    style="--stagger:18"
  >
    <h2 class="select-none font-sans text-neutral-600">Connect</h2>
    <p class="my-3">
      I try my best to get back to everyone, but sometimes I get too busy with
      life. Please don’t feel bad if I don’t get back to you in time, or not at
      all.
    </p>
    <p class="my-3">
      Don’t be a stranger, though. I’d love to hear from you regardless. Here’s
      my public email address:<br />
      <span class="my-5 inline-flex w-full items-center justify-center"
        ><em
          ><a
            class="text-neutral-400 transition-colors hover:text-neutral-500"
            href="mailto:hey@kimchiii.space">hey@kimchiii.space</a
          ></em
        ></span
      >
    </p>
  </section>
</PageLayout>

<style>
  @keyframes enter {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }

    to {
      opacity: 1;
      transform: none;
    }
  }

  [data-animate] {
    --delay: 120ms;
    --stagger: 0;
    --start: 0ms;
  }

  @media (prefers-reduced-motion: no-preference) {
    [data-animate] {
      animation: enter 0.6s both;
      animation-delay: calc(var(--delay) * var(--stagger) + var(--start));
    }
  }
</style>
