---
import PageLayout from "@/layouts/base.astro";
import UsesHoverCard from "@/components/uses-hover-card.tsx";

import { Image } from "astro:assets";

import { GAMING, OFFICE_TECH, SOFTWARE } from "@/data/constants";
import wagyu from "../assets/dcim/famu-wagyu.jpeg";

const meta = {
  title: "Uses / @yeskunall",
  description: "Stuff I use on a regular basis. Updated fairly infrequently.",
};
---

<PageLayout meta={meta}>
  <section data-animate style="--stagger:3">
    <h1
      class="mb-4 flex select-none items-center gap-x-1.5 font-sans text-lg font-medium text-neutral-100/80"
    >
      <span class="inline-block h-3 w-3 bg-[#b3fc03]"></span>Uses
    </h1>
    <p class="my-3 hyphens-none font-sans text-neutral-50/60">
      Here’s a list of stuff I use on a regular basis, in no particular order.
    </p>
    <p class="mb-6 mt-3 hyphens-none font-sans text-sm text-neutral-50/60">
      If you’re looking for the default apps I use, then head over to <a
        class="bg-[#b3fc03]/30 text-sky-50 underline decoration-[#b3fc03]/90 decoration-2 underline-offset-4 transition-colors hover:bg-[#b3fc03] hover:text-neutral-950/95"
        href="https://defaults.kimchiii.space"
        rel="nofollow noopener noreferrer">this</a
      >
       dedicated page.
    </p>
  </section>
  <section data-animate style="--stagger:6">
    <h2 class="mb-1.5 select-none font-sans font-medium text-neutral-50/30">
      Office
    </h2>
    <ul
      class="grid list-inside list-disc grid-flow-row grid-cols-2 gap-x-2 gap-y-1 hyphens-none"
    >
      {
        OFFICE_TECH.map(({ image, name }) => (
          <UsesHoverCard image={image} name={name} client:only="react" />
        ))
      }
    </ul>
  </section>
  <section data-animate style="--stagger:8">
    <h2
      class="mb-2.5 mt-4 select-none font-sans font-medium text-neutral-50/30"
    >
      Software
    </h2>
    <ul class="grid grid-flow-row grid-cols-2 gap-x-2 gap-y-2 hyphens-none">
      {
        SOFTWARE.map(({ embed, name, url }) => (
          <li class="text-sm text-neutral-200/80 transition-colors hover:cursor-pointer hover:text-neutral-50/95">
            <a
              class="inline-flex items-center gap-x-2"
              href={url}
              rel="nofollow noopener noreferrer"
            >
              <Image
                alt={`${name}’s Logo`}
                class="h-5 w-5 rounded-md"
                height={5}
                width={5}
                src={`https://logo.clearbit.com/${embed ?? url}`}
              />
              {name}
            </a>
          </li>
        ))
      }
    </ul>
  </section>
  <section data-animate style="--stagger:10">
    <h2
      class="mb-1.5 mt-4 select-none font-sans font-medium text-neutral-50/30"
    >
      Gaming
    </h2>
    <ul
      class="grid list-inside list-disc grid-flow-row grid-cols-2 gap-x-2 gap-y-1 hyphens-none"
    >
      {
        GAMING.map(({ image, name }) => (
          <UsesHoverCard image={image} name={name} client:only="react" />
        ))
      }
    </ul>
  </section>
</PageLayout>

<style>
  @keyframes enter {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }

    to {
      opacity: 1;
      transform: none;
    }
  }

  [data-animate] {
    --delay: 120ms;
    --stagger: 0;
    --start: 0ms;
  }

  @media (prefers-reduced-motion: no-preference) {
    [data-animate] {
      animation: enter 0.6s both;
      animation-delay: calc(var(--delay) * var(--stagger) + var(--start));
    }
  }
</style>
