---
import { format, getTime } from "date-fns";
import prettyMs from "pretty-ms";

import { siteConfig } from "@/site-config";

import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"post">;
}

const { post } = Astro.props;

const datetime = post.data.publishDate.toISOString();
const postDate = format(post.data.publishDate, "do MMMM',' yyyy");
const { remarkPluginFrontmatter } = await post.render();
---

<div class="mt-8 flex flex-col text-gray-12">
  <div
    class="mb-1 flex select-none items-center justify-between font-sans text-xs font-medium text-gray-11"
  >
    <time datetime={datetime} title={datetime}>
      {postDate}&nbsp; ({
        prettyMs(getTime(new Date()) - getTime(post.data.publishDate), {
          compact: true,
        })
      } ago)
    </time>
    <span>{remarkPluginFrontmatter.readingTime}</span>
  </div>
  <h1
    class="not-prose mt-2.5 font-['EB_Garamond'] text-3xl font-semibold italic leading-tight tracking-tighter sm:mb-1 sm:text-4xl"
  >
    {post.data.title}
  </h1>
  <address
    class="mb-3 mt-1 flex select-none items-center justify-between space-x-1 text-xs text-gray-11"
  >
    <div class="space-x-3 font-sans font-medium">
      <span>{remarkPluginFrontmatter.words} words</span> by {siteConfig.author}
    </div>
  </address>
</div>
