---
import { format, getTime } from "date-fns";
import prettyMs from "pretty-ms";

import { cn } from "@/lib/utils";
import { siteConfig } from "@/site-config";

import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"post">;
}

const { post } = Astro.props;

const datetime = post.data.publishDate.toISOString();
const postDate = format(post.data.publishDate, "do MMMM',' yyyy");
const { remarkPluginFrontmatter } = await post.render();
---

<div class="text-gray-12 mt-8 flex flex-col">
  <div
    class="text-gray-11 mb-1 flex select-none items-center justify-between font-sans text-xs font-medium"
  >
    <time datetime={datetime} title={datetime}>
      {postDate}&nbsp; ({
        prettyMs(getTime(new Date()) - getTime(post.data.publishDate), {
          compact: true,
        })
      } ago)
    </time>
    <span>{remarkPluginFrontmatter.readingTime}</span>
  </div>
  <h1
    class="!sm:text-4xl not-prose !mt-2.5 !text-3xl font-medium tracking-tighter [font:var(--type-heading)] sm:mb-1"
  >
    {post.data.title}
  </h1>
  <address
    class="text-gray-11 mb-3 mt-1 flex select-none items-center justify-between space-x-1 text-xs"
  >
    <div class="space-x-3 font-sans font-medium">
      <span>{remarkPluginFrontmatter.words} words</span> by {siteConfig.author}
    </div>
  </address>
</div>
