---
import type { CollectionEntry } from "astro:content";

import { format } from "date-fns";

import { cn } from "~/lib/utils";

interface Props {
  post: CollectionEntry<"post">;
}

const { post } = Astro.props;

const datetime = post.data.publishDate.toISOString();
const { Content } = await post.render();

const postDate = format(post.data.publishDate, "yyyy-MM-dd");
---

<>
  <dt
    class={cn(
      "py-2 pr-8 [&:not(:first-of-type)]:border-t [&:not(:first-of-type)]:border-dashed [&:not(:first-of-type)]:border-gray-7",
      post.data.tags.includes("update") ? "py-4" : "",
    )}
  >
    <time
      class="block select-none text-xs tracking-[-0.075em] [font-variant-numeric:tabular-nums]"
      datetime={datetime}
      title={datetime}
    >
      {postDate}
    </time>
  </dt>
  <dd
    class={cn(
      "reveal col-start-2 py-2 [&:not(:first-of-type)]:border-t [&:not(:first-of-type)]:border-dashed [&:not(:first-of-type)]:border-gray-7",
      post.data.tags.includes("update") ? "py-4" : "",
    )}
  >
    <a
      class="duration-medium-02 text-gray-12 no-underline transition-colors ease-productive-standard sm:text-gray-11 sm:hover:text-gray-12"
      href={`/writing/${post.slug}/`}
    >
      <article
        class={cn(
          "line-clamp-3 prose prose-sm",
          post.data.tags.includes("update") ? "line-clamp-[12]" : "",
        )}
      >
        <h2 class="not-prose -mt-0.5 mb-1 text-sm">
          {post.data.title}
        </h2>
        {post.body.length < 500 && <Content />}
      </article>
    </a>
  </dd>
</>

<style>
  @keyframes reveal {
    from {
      filter: blur(2px);
      scale: 0.99;
    }
    to {
      filter: blur(0);
      opacity: 1;
      scale: 1;
    }
  }

  .reveal {
    animation: reveal linear both;
    animation-range: entry cover 20%;
    animation-timeline: view();
  }
</style>
