---
import { getFormattedDate } from "@/utils";

import type { CollectionEntry } from "astro:content";
import type { IElement } from "@/data/shared";

interface Props extends IElement {
  post: CollectionEntry<"post">;
  withDesc?: boolean;
}

const { post, as: Element = "div", withDesc = false } = Astro.props;
const date = new Date(post.data.publishDate);
const datetime = date.toISOString();
const postDate = getFormattedDate(date, {
  day: "numeric",
  month: "short",
  year: "numeric",
});
---

<time
  datetime={datetime}
  class="mb-1.5 min-w-[120px] self-start font-serif text-green-100/50 sm:mb-3 sm:text-right sm:text-sm"
>
  {postDate}
</time>
<Element class="-mt-0.5 break-words text-green-100/80">
  <a href={`/writing/${post.slug}/`} class="text-base" rel="prefetch">
    {post.data.title}
  </a>
</Element>
{
  withDesc && (
    <span class="line-clamp-3 block italic">{post.data.description}</span>
  )
}
