---
import { format } from "date-fns";

import type { CollectionEntry } from "astro:content";

type Props = {
  post: CollectionEntry<"post">;
  style?: string;
};

const { post, style } = Astro.props;
const datetime = post.data.publishDate.toISOString();
const postDate = format(post.data.publishDate, "do MMM',' yyyy");
---

<div
  class="hover:border-ruby-3 hover:bg-ruby-2 group cursor-pointer border-b py-1.5 transition-colors"
  data-animate
  style={style}
>
  <a
    class="group-hover:text-ruby-11 flex items-center justify-between transition-colors"
    href={`/writing/${post.slug}/`}
    data-astro-prefetch
  >
    <h3
      class="!sm:text-lg text-balance !text-base !font-medium [font:var(--type-ui)] group-hover:!font-[520]"
    >
      {post.data.title}
    </h3>
    <time
      class="tabular-nums select-none font-mono text-xs tracking-tighter [font-variant-numeric:tabular-nums]"
      datetime={datetime}
    >
      {postDate}
    </time>
  </a>
</div>

<style>
  @keyframes enter {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }

    to {
      opacity: 1;
      transform: none;
    }
  }

  [data-animate] {
    --delay: 120ms;
    --stagger: 0;
    --start: 0ms;
  }

  @media (prefers-reduced-motion: no-preference) {
    [data-animate] {
      animation: enter 0.6s both;
      animation-delay: calc(var(--delay) * var(--stagger) + var(--start));
    }
  }
</style>
