---
import BaseHead from "@/components/base-head.astro";
import Footer from "@/layouts/footer.astro";
import Header from "@/layouts/header.astro";

import { siteConfig } from "@/site-config";

import type { SiteMeta } from "@/site-config";

type Props = {
  meta: SiteMeta;
};

const {
  meta: {
    title = siteConfig.title,
    description = siteConfig.description,
    ogImage = siteConfig.ogImage,
    articleDate,
  },
} = Astro.props;
---

<html lang={siteConfig.lang}>
  <head>
    <BaseHead
      title={title}
      description={description}
      ogImage={ogImage}
      articleDate={articleDate}
    />
  </head>
  <body>
    <main class="relative mx-auto max-w-[660px] p-8">
      <Header />
      <slot />
      <Footer />
    </main>
  </body>
</html>
