---
import { getCollection } from "astro:content";
import { isToday } from "date-fns";

import BaseHead from "@/components/base-head.astro";
import Header from "@/components/layout/header.astro";
import MobileNavigation from "@/components/mobile-navigation";
import Footer from "@/components/layout/footer.astro";

import { siteConfig } from "@/site-config";
import { sortByDate } from "@/utils";

import type { SiteMeta } from "@/data/site-meta";

type Props = {
  meta: SiteMeta;
};

const allPosts = await getCollection("post");
const allPostsByDate = sortByDate(allPosts);
const [firstPost, ..._] = allPostsByDate;
const freshPost = isToday(firstPost.data.publishDate);

const {
  meta: {
    title,
    description = siteConfig.description,
    ogImage = "default-og.png",
    articleDate,
  },
} = Astro.props;
---

<html lang={siteConfig.lang}>
  <head>
    <BaseHead
      title={title}
      description={description}
      ogImage={ogImage}
      articleDate={articleDate}
    />
  </head>
  <body>
    <main class="mx-auto max-w-[480px] p-8" vaul-drawer-wrapper>
      <Header />
      <slot />
      <Footer />
      <MobileNavigation freshPost={freshPost} client:only="react" />
    </main>
    <aside class="sm:max-w-[420px] sm:text-right">
      <AsideNavigation freshPost={freshPost} />
    </aside>
  </body>
</html>
