---
import { ViewTransitions } from "astro:transitions";

import AsideNavigation from "@/components/aside-navigation.astro";
import BaseHead from "@/components/base-head.astro";
import Header from "@/components/layout/header.astro";
import MobileNavigation from "@/components/mobile-navigation";
import Footer from "@/components/layout/footer.astro";

import { siteConfig } from "@/site-config";

import type { SiteMeta } from "@/data/site-meta";

interface Props {
  meta: SiteMeta;
}

const {
  meta: {
    title,
    description = siteConfig.description,
    ogImage = "default-og.png",
    articleDate,
  },
} = Astro.props;
---

<html lang={siteConfig.lang}>
  <head>
    <BaseHead
      title={title}
      description={description}
      ogImage={ogImage}
      articleDate={articleDate}
    />
    <ViewTransitions fallback="animate" />
  </head>
  <body>
    <main class="mx-auto max-w-[480px] p-8" vaul-drawer-wrapper>
      <Header />
      <slot />
      <Footer />
      <MobileNavigation client:only="react" />
    </main>
    <aside class="sm:max-w-[420px] sm:text-right">
      <AsideNavigation />
    </aside>
  </body>
</html>
